@import "tailwindcss";

:root {
  /* Blues */
  --primaryBlue: #155dfc;
  --blueLightest: #eff6ff;
  --blueLight: #dbeafe;
  --blueMedium: #8ec5ff;
  --blueGradientStart: #2b7fff;
  --blueGradientEnd: #9810fa;

  /* Grays */
  --grayLightest: #f9fafb;
  --grayLight: #f3f4f6;
  --grayBorder: #e5e7eb;
  --grayBorderMedium: #d1d5dc;
  --grayMedium: #6a7282;
  --grayDark: #4a5565;

  /* Blacks */
  --blackSoft: #0a0a0a;
  --navyDark: #101828;
  --blackBorder: rgba(0, 0, 0, 0.1);

  /* Greens */
  --greenPale: #f0fdf4;
  --greenLight: #dcfce7;
  --greenMedium: #00a63e;
  --greenBright: #00c950;
  --greenBorderBright: #7bf1a8;

  /* Yellows / Golds */
  --yellowPale: #fefce8;
  --yellowLight: #fff085;
  --yellowMedium: #fdc700;
  --yellowDark: #d08700;
  --yellowBright: #f0b100;

  /* Oranges */
  --orangePale: #fff7ed;
  --orangeBright: #f54900;

  /* Reds */
  --redBright: #e7000b;

  /* White */
  --whiteColor: #ffffff;

  /* Extra */
  --yellowGold: #ffdf20;
  --blueDark: #1248d0;
}

@theme {
  --color-primaryBlue: var(--primaryBlue);
  --color-blueLightest: var(--blueLightest);
  --color-blueLight: var(--blueLight);
  --color-blueMedium: var(--blueMedium);
  --color-grayLightest: var(--grayLightest);
  --color-grayLight: var(--grayLight);
  --color-grayBorder: var(--grayBorder);
  --color-grayBorderMedium: var(--grayBorderMedium);
  --color-grayMedium: var(--grayMedium);
  --color-grayDark: var(--grayDark);
  --color-blackSoft: var(--blackSoft);
  --color-navyDark: var(--navyDark);
  --color-greenPale: var(--greenPale);
  --color-greenLight: var(--greenLight);
  --color-greenMedium: var(--greenMedium);
  --color-greenBright: var(--greenBright);
  --color-yellowPale: var(--yellowPale);
  --color-yellowLight: var(--yellowLight);
  --color-yellowMedium: var(--yellowMedium);
  --color-yellowDark: var(--yellowDark);
  --color-orangePale: var(--orangePale);
  --color-orangeBright: var(--orangeBright);
  --color-redBright: var(--redBright);
  --color-whiteColor: var(--whiteColor);
}
